*{
    box-sizing: border-box;
}

html {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin: 0;
    font-size: 1.375rem;
    background-color: #22252C;
    text-align: center;
}
/* HEADER */

.main-header {
    background:linear-gradient(to left,#dde110,#30bbb4);
    height: 80px;
    border-radius: 20px;
    align-items: center;
}
.main-header-logo {
    margin-inline-start: 60px ;
}
.nav-bar {
    margin-inline-end: 60px;
}
a {
    text-decoration: none;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.link a {
    padding: 9px 21px;
}
.link {
    padding: 10px 22px;
    border-radius: 20px;
    transition: background-color .5s;
}
.link:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.link:hover a {
    color : #30BB73;
}
/* MAIN GALLERY */
.search-input-container{
    height: 60px;
    flex-grow: 1;
    background-color: #22252C;
    border-radius: 3em;
    margin: 15px;
    padding: 0 30px;
    align-items: center;
    border : 2px solid #dde110;
    flex-shrink: 10;
    min-width: 200px;
}
.search-btn {
    height: 50px;
    width: 50px;
    background-color: #22252C;
    border:none;
    align-items: center;
    border-radius: 2em;
    padding: 0 10px;
    transition: background-color .3s;
}

.search-input:focus-visible {
    outline: none;
}

.search-btn:hover {
    background-color: #dde110;
    cursor: pointer;
}

.search-icon {
    fill: green;
    object-fit:contain;
}
.file-input-container{
    align-items: center;
    height: 60px;
    width: fit-content;
    margin: 15px;
    background-color: #22252C;
    border-radius: 3em;
    border : 2px solid #dde110;
    transition: background-color .3s;
    font-size: 1.375rem;
    line-height: 1em;
    padding: 0 10px;
}
.file-input-container:hover{
    cursor: pointer;
    background-color:#383B42 ;
}

.file-input-container img {
    display: none;
    height: 35px;
    width: 35px;
}

.search-input {
    background-color: #22252C;
    border: none;
    font-size: 1rem;
    color: white;
    width: 100%;
}
.gallery-view{
background-color: #606b85;
width: 95%;
border-radius: 10px;
margin: 20px auto;
padding: 10px;
}
.galllery-container{
    padding: 10px;
    height: 100%;
}
.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 201px);
    grid-template-rows: repeat(auto-fit, 176px);
    grid-row-gap: 25px;
    grid-column-gap: 29px;
    height: 91%;
    margin: auto;
    overflow-y: scroll;
    padding-top: 15px;
}
.gallery img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: box-shadow .4s;
}
.gallery img:hover {
    -webkit-box-shadow: 0px 0px 7px 10px #dde110;
    box-shadow: 0px 0px 7px 10px #dde110;
    cursor: pointer;
}
/* Helpers */

input[type="file"]{
    display: none;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
.hide {
    display: none;
}
.grid {
    display: grid;
}

