* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin: 0;
    font-size: 1.375rem;
    background-color: #22252C;
    text-align: center;
}
.bg-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(41, 39, 39, 0.808);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.bg-screen.show {
    opacity: 1;
    pointer-events: all;
}

/* HEADER */

.main-header {
    background: linear-gradient(to left, #dde110, #ed2f2f);
    height: 80px;
    align-items: center;
}

.main-header-logo {
    margin-inline-start: 60px;
}

.nav-bar {
    margin-inline-end: 60px;
}

a {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link a {
    padding: 9px 21px;
}

.link {
    padding: 10px 22px;
    border-radius: 20px;
    transition: background-color .5s;
}

.link:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.link:hover a {
    color: #fd1212;
}

/* MAIN GALLERY */

.search-input-container {
    height: 60px;
    flex-grow: 1;
    background-color: #22252C;
    border-radius: 3em;
    margin: 15px;
    padding: 0 30px;
    align-items: center;
    border: 2px solid #dde110;
    flex-shrink: 10;
    min-width: 200px;
}

.search-btn {
    height: 50px;
    width: 50px;
    background-color: #22252C;
    border: none;
    align-items: center;
    border-radius: 20px;
    transition: background-color .3s;
}

.search-input:focus-visible {
    outline: none;
}

.search-btn:hover {
    background-color: #dde110;
    cursor: pointer;
}

.search-icon {
    object-fit: contain;
}

.file-input-container {
    align-items: center;
    height: 60px;
    width: fit-content;
    margin: 15px;
    background-color: #22252C;
    border-radius: 3em;
    border: 2px solid #dde110;
    transition: background-color .3s;
    font-size: 1.375rem;
    line-height: 1em;
    padding: 0 10px;
}

.file-input-container:hover {
    cursor: pointer;
    background-color: #383B42;
}

.file-input-container img {
    display: none;
    height: 35px;
    width: 35px;
}

.search-input {
    background-color: #22252C;
    border: none;
    font-size: 1rem;
    color: white;
    width: 100%;
}

.gallery-page {
    background-color: #22252C;
    width: 95%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
}

.galllery-container {
    padding: 10px;
    height: 100%;
}

.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 175px);
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    height: 91%;
    margin: auto;
    /* overflow-y: scroll; */
    padding-top: 15px;
}

.gallery img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: box-shadow .4s;
}

.gallery img:hover {
    -webkit-box-shadow: 0px 0px 7px 10px #dde110;
    box-shadow: 0px 0px 7px 10px #dde110;
    cursor: pointer;
}

/* EDITOR PAGE */

.edit-page {
    display: flex;
    margin-top: 40px;
}

.canvas-container {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
}

#edit-canvas {
    border-radius: 20px;
}

.editor-container {
    padding: 20px;
    width: 400px;
    height: 450px;
    background-color: #52565f;
    border-radius: 30px;
    align-items: center;
}

.text-container {
    width: 100%;
}

.add-text-input {
    height: 50px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    font-family:Times, serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.tools-btns {
    height: 50px;
    width: 50px;
    border-radius: 0.8em;
    border: none;
    margin-bottom: 10px;
}

.change-sentence-btn {
    transition: background-color .3s;
    background-color: #ef43ffa6;
}
.change-sentence-btn:hover{
    background-color: #ef43ff;
}
.trash-btn {
    transition: background-color .3s;
    background-color: #e20c0c9f;
}
.trash-btn:hover{
    background-color: #e20c0c;
}
.add-btn {
    transition: background-color .3s;
    background-color: #0dff219a;
}
.add-btn:hover{
    background-color: #0dff21;
}
.up-btn {
    transition: background-color .3s;
    background-color: #0a16bfab;
}
.up-btn:hover{
    background-color: #0c1be7;
}
.down-btn {
    transition: background-color .3s;
    background-color: #0a16bfab;
}
.down-btn:hover{
    background-color: #0c1be7;
}
.adjust-container {
    background-color: #4e50e9;
    border-radius: 0.7em;
    grid-template-columns: repeat(5, 55px);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    padding: 15px;
}

.adjust-btn {
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: inset 0px -5px 5px 0px #3f42eb;
    box-shadow: inset 0px -5px 5px 0px #3f42eb;
    transition: background-color .4s;
}

.font-family {
    grid-row: 2/3;
    grid-column: 2 /span 4;
    text-align: center;
    font-family:cursive;
    font-size: 1.5rem;
}

.adjust-btn:hover {
    background-color: rgb(155, 153, 153);
}

.color-label img {
    margin-top: 1px;
}

.color-input {
    opacity: 0;
}
.share-btns {
    margin-top: 15px;
}
.share-btns button {
    font-size: 1.375rem;
    font-family:initial;
    flex-basis: 48%;
    height: 55px;
    border-radius: 20px;
    transition: background-color .2s;
    border: none;
}
.share-btn {
    background-color: #1760a5;
    margin-inline-end: 200px;
    color: white;
}

.download-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.share-btn:hover {
    background-color: #258ff2;
}

.download-btn {
    background-color: #1760a5;
}

.download-btn:hover {
    background-color: #258ff2;
}


/* Helpers */

img {
    width: 100%;
}

input[type="file"] {
    display: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.hide {
    display: none;
}

.grid {
    display: grid;
}

@media (max-width:440px) {
    .canvas-container, .edit-tools-container {
        width: 350px;
        height: 350px;
        background-color: #383B42;
        border-radius: 2em;
        margin-top: 20px;
    }
    .img-gallery {
        grid-template-columns: repeat(auto-fit, 140px);
        grid-template-rows: repeat(auto-fit, 140px);
        grid-row-gap: 25px;
        grid-column-gap: 25px;
    }
    .edit-tools-container {
        height: fit-content;
    }
}