@import 'nav-btn-menu.css';
@import 'edit-page.css';
@import 'gallery-page.css';
@import 'helpers.css';
* {
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    margin: 0;
    font-size: 1.375rem;
    background-color: #22252C;
    text-align: center;
}
.rtl {
    direction: rtl;
}
.bg-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(41, 39, 39, 0.808);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}
.bg-screen.show {
    opacity: 1;
    pointer-events: all;
}
::-webkit-scrollbar-track {
    background: #22252c;
    border-radius: 15px;
}
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(52deg, #ed2f2f 43%, #dde110 64%);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #dde110 14%, #ed2f2f 64%);
}
                   /* HEADER */
.main-header {
    background: linear-gradient(to left, #dde110, #ed2f2f);
    height: 80px;
    border-radius: 2em;
    align-items: center;
}
.main-header-logo {
    margin-inline-start: 60px;
}
.nav-bar {
    margin-inline-end: 60px;
}
a {
    text-decoration: none;
    color: white;
    font-family:Georgia, Times, 'Times New Roman', serif;
}
.link a {
    padding: 10px 20px;
}
.link {
    margin-inline-end: 20px;
    padding: 10px 22px;
    border-radius: 20px;
    transition:.5s;
}
.link:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.link:hover a {
    color: #fd1212;
}
             /* MEMES */
.img-gallery-container.memes {
    padding: 1px;
}
.memes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    height: 100%;
}
.meme img {
    border-radius: 1em;
}
@media (max-width:1200px) {
    html {
        font-size: 14px;
    }
    .canvas-container, .editor-container {
        width: 550px;
        height: 550px;
        border-radius: 2em;
    }
    .add-text-input {
        height: 45px;
    }
    .editor-layout {
        width: 95%;
    }
    .adjust-container {
        grid-template-columns: repeat(5, 45px);
        grid-column-gap: 30px;
    }
    .tools-btns {
        height: 45px;
        width: 45px;
    }
    .adjust-btn {
        height: 45px;
        width: 45px;
    }
    .font-family {
        width: 100%;
    }
    .share-btns button {
        height: 45px;
    }
}
@media (max-width:1060px) {
    .canvas-container, .editor-container {
        width: 500px;
        height: 500px;
        border-radius: 2em;
    }
    .editor-container {
        padding: 10px;
    }
    .adjust-container {
        grid-row-gap: 5px;
        grid-column-gap: 20px;
    }
    .share-btns button {
        height: 30px;

    }
}
@media (max-width:840px) {
    .edit-page {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .canvas-container, .editor-container {
        width: 550px;
        height: 550px;
        border-radius: 2em;
        margin-top: 20px;
    }
    .search-input-container {
        height: 50px;
        padding: 0 15px;
        flex-basis: 100%;
    }
    .file-input-container {
        height: 50px;
        padding: 0 15px;
    }
    .filter-options {
        display: none;
    }
    .adjust-container {
        grid-row-gap: 15px;
    }
    .search-btn {
        height: 45px;
        padding: 5px;
    }
    .link {
        padding: 0px;
        margin: 5px;
        margin-inline-end: 0;
    }
    .link a {
        padding: 5px 11px;
    }
    .nav-bar {
        margin-inline-end: 20px;
    }
}
@media (max-width:540px) {
    .main-header {
        border-radius: 0px;
    }
    .nav-bar {
        flex-direction: column;
        position: fixed;
        top: 74px;
        right: 0px;
        transform: translateX(100%);
        transition: transform .3s;
        background-color: #fd1212;
        z-index: 2;
        margin-inline-end: 0;
    }
    .nav-bar .link {
        padding: 30px 30px;
        border-radius: 0;
        margin: 0;
    }
    .nav-bar .link:hover {
        padding: 30px 30px;
        background-color: #fd1212;
    }
    .link:hover a {
        color: white;
    }
    .nav-bar.show {
        transform: translateX(0);
    }
    .canvas-container, .editor-container {
        width: 400px;
        height: 400px;
        border-radius: 2em;
        margin-top: 20px;
    }
    .editor-container {
        height: fit-content;
    }
    .share-btns {
        margin-top: 5px;
    }
    .tools-btn-container {
        margin: 8px auto;
    }
    .adjust-container {
        padding: 10px;
    }
    .main-header-logo {
        margin-inline-start: 20px;
    }
    .gallery-container {
        padding: 0;
    }
    .gallery {
        grid-template-columns: repeat(auto-fit, 175px);
        grid-template-rows: repeat(auto-fit, 175px);
        grid-row-gap: 25px;
        grid-column-gap: 25px;
    }
    .gallery-page {
        padding: 0px;
    }
    .memes-container {
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        grid-column-gap: 15px;
        grid-row-gap: 10px;
    }
    .file-input-container {
        background-color: rgb(66, 66, 66);
    }
    .file-input-container span {
        display: none;
    }
    .file-input-container img {
        display: block;
    }
}
@media (max-width:440px) {
    .canvas-container, .editor-container {
        width: 350px;
        height: 350px;
        border-radius: 2em;
        margin-top: 20px;
    }
    .gallery {
        grid-template-columns: repeat(auto-fit, 140px);
        grid-template-rows: repeat(auto-fit, 140px);
        grid-row-gap: 25px;
        grid-column-gap: 25px;
    }
    .editor-container {
        height: fit-content;
    }
}